<% if flash[:notice] %>
  <div class-"notice"><%= flash[:notice] %></div>
<% end %>

<h2><%= "Welcome to your page on the mySecond app #{@user.name}" %></h2>
<p> Name:  <%= @user.name %></p> 
<p> Email: <%= @user.email %> </p>