<% provide(:title, 'Invitees Items List') %>
<div class="col-md-8 col-md-offset-2">
  <aside class="col-md-4">
    <section class="user_info">
    	<h2>Ivitee's Items List</h2>
    </section>
  </aside>
  <div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Item</th><th>Decription</th><th>Date</th>
					</tr>
				</thead>
				<tbody>
				
				</tbody>
			</table>
		</div>
	</div>
	
</div>
<br/>
